<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />

        <title>Tables / Data - NiceAdmin Bootstrap Template</title>
        <meta content="" name="description" />
        <meta content="" name="keywords" />

        <!-- Favicons -->
        <link href="/assets/img/favicon.png" rel="icon" />
        <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect" />
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
        />

        <!-- Vendor CSS Files -->
        <link
            href="/assets/vendor/bootstrap/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
            rel="stylesheet"
        />
        <link
            href="/assets/vendor/boxicons/css/boxicons.min.css"
            rel="stylesheet"
        />
        <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet" />
        <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
        <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
        <link
            href="/assets/vendor/simple-datatables/style.css"
            rel="stylesheet"
        />

        <!-- Template Main CSS File -->
        <link href="/assets/css/style.css" rel="stylesheet" />

        <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Nov 17 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    </head>

    <body>
        <!-- ======= Header ======= -->
        <header id="header" class="header fixed-top d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-between">
                <a href="/backend/user" class="logo d-flex align-items-center">
                    <img src="/assets/img/logo.png" alt="" />
                    <span class="d-none d-lg-block">Cơ sở dữ liệu</span>
                </a>
                <i class="bi bi-list toggle-sidebar-btn"></i>
            </div>
            <!-- End Logo -->

            <nav class="header-nav ms-auto">
                <ul class="d-flex align-items-center">
                    <li class="nav-item dropdown pe-3">
                        <a
                            class="nav-link nav-profile d-flex align-items-center pe-0"
                            href="#"
                            data-bs-toggle="dropdown"
                        >
                            <img
                                onerror="this.src='https://www.seekpng.com/png/full/73-730482_existing-user-default-avatar.png'"
                                th:src="@{|~/image/user/${#authentication.principal.avatarImg}/|}"
                                style="
                                    width: 34px;
                                    height: 34px;
                                    border-radius: 50%;
                                    object-fit: cover;
                                "
                                alt=""
                            />
                            <span
                                sec:authentication="principal.email"
                                class="d-none d-md-block dropdown-toggle ps-2"
                                >Tài khoản</span
                            > </a
                        ><!-- End Profile Iamge Icon -->

                        <ul
                            class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
                        >
                            <li>
                                <a
                                    class="dropdown-item"
                                    th:href="@{|~/profile/${#authentication.principal.id}|}"
                                    sec:authentication="principal.email"
                                ></a>
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    th:href="@{|~/profile/${#authentication.principal.id}|}"
                                    >Hồ sơ của tôi</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="/backend/user"
                                    sec:authorize="hasAnyAuthority('ROLE_1')"
                                    th:text="'Cơ sở dữ liệu'"
                                ></a>
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="#"
                                    th:text="'Đổi mật khẩu'"
                                ></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/logout"
                                    >Đăng xuất</a
                                >
                            </li>
                        </ul>
                        <!-- End Profile Dropdown Items -->
                    </li>
                    <!-- End Profile Nav -->
                </ul>
            </nav>
        </header>
        <!-- End Header -->

        <!-- ======= Sidebar ======= -->
        <aside id="sidebar" class="sidebar">
            <ul class="sidebar-nav" id="sidebar-nav">
                <li class="nav-item">
                    <a
                        class="nav-link collapsed"
                        data-bs-target="#forms-nav"
                        data-bs-toggle="collapse"
                        href="#"
                    >
                        <i class="bi bi-journal-text"></i
                        ><span>Biểu thêm dữ liệu</span
                        ><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul
                        id="forms-nav"
                        class="nav-content collapse"
                        data-bs-parent="#sidebar-nav"
                    >
                        <li>
                            <a href="/backend/user/new">
                                <i class="bi bi-circle"></i
                                ><span>Thêm/Sửa tài khoản</span>
                            </a>
                        </li>
                        <li>
                            <a href="/backend/role/new">
                                <i class="bi bi-circle"></i
                                ><span>Thêm/Sửa vai trò</span>
                            </a>
                        </li>
                        <li>
                            <a href="/backend/country/new">
                                <i class="bi bi-circle"></i
                                ><span>Thêm/Sửa đất nước</span>
                            </a>
                        </li>
                        <li>
                            <a href="/backend/city/new">
                                <i class="bi bi-circle"></i
                                ><span>Thêm/Sửa thành phố</span>
                            </a>
                        </li>
                        <li>
                            <a href="/backend/resort/new">
                                <i class="bi bi-circle"></i
                                ><span>Thêm/Sửa resort</span>
                            </a>
                        </li>
                        <li>
                            <a href="/backend/extension/new">
                                <i class="bi bi-circle"></i
                                ><span>Thêm/Sửa tiện ích</span>
                            </a>
                        </li>
                        <li>
                            <a href="/backend/room/new">
                                <i class="bi bi-circle"></i
                                ><span>Thêm/Sửa phòng</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- End Forms Nav -->

                <li class="nav-item">
                    <a
                        class="nav-link"
                        data-bs-target="#tables-nav"
                        data-bs-toggle="collapse"
                        href="#"
                    >
                        <i class="bi bi-layout-text-window-reverse"></i
                        ><span>Bảng dữ liệu</span
                        ><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul
                        id="tables-nav"
                        class="nav-content collapse show"
                        data-bs-parent="#sidebar-nav"
                    >
                        <li>
                            <a href="/backend/user">
                                <i class="bi bi-circle"></i
                                ><span>Bảng tài khoản</span>
                            </a>
                        </li>
                        <li>
                            <a href="/backend/role">
                                <i class="bi bi-circle"></i
                                ><span>Bảng vai trò</span>
                            </a>
                        </li>
                        <li>
                            <a href="/backend/country">
                                <i class="bi bi-circle"></i
                                ><span>Bảng đất nước</span>
                            </a>
                        </li>
                        <li>
                            <a href="/backend/city">
                                <i class="bi bi-circle"></i
                                ><span>Bảng thành phố</span>
                            </a>
                        </li>
                        <li>
                            <a href="/backend/resort">
                                <i class="bi bi-circle"></i
                                ><span>Bảng Resort</span>
                            </a>
                        </li>
                        <li>
                            <a href="/backend/extension" class="active">
                                <i class="bi bi-circle"></i
                                ><span>Bảng tiện ích</span>
                            </a>
                        </li>
                        <li>
                            <a href="/backend/room">
                                <i class="bi bi-circle"></i
                                ><span>Bảng phòng</span>
                            </a>
                        </li>
                        <li>
                            <a href="/backend/bill">
                                <i class="bi bi-circle"></i
                                ><span>Bảng quản lý hóa đơn</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- End Tables Nav -->
            </ul>
        </aside>
        <!-- End Sidebar-->

        <main id="main" class="main">
            <div class="pagetitle">
                <h1>Bảng tiện ích</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Cơ sở dữ liệu</a>
                        </li>
                        <li class="breadcrumb-item">Bảng dữ liệu</li>
                        <li class="breadcrumb-item active">Bảng tiện ích</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->

            <section class="section">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Bảng tiện ích</h5>

                                <!-- Table with stripped rows -->
                                <table
                                    class="table datatable"
                                    style="width: 3000px; table-layout: fixed"
                                >
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>NAME</th>
                                            <th>EDIT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <th:block
                                            th:each="countryDto : ${list}"
                                        >
                                            <tr th:object="${countryDto}">
                                                <!-- khi co th:object -->
                                                <td th:text="*{id}"></td>
                                                <td th:text="*{name}"></td>
                                                <td>
                                                    <a th:href="@{/backend/extension/} + *{id}">
                                                        EDIT
                                                    </a>
                                                </td>
                                            </tr>
                                        </th:block>
                                    </tbody>
                                </table>
                                <!-- End Table with stripped rows -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- End #main -->

        <a
            href="#"
            class="back-to-top d-flex align-items-center justify-content-center"
            ><i class="bi bi-arrow-up-short"></i
        ></a>

        <!-- Vendor JS Files -->
        <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/vendor/chart.js/chart.umd.js"></script>
        <script src="/assets/vendor/echarts/echarts.min.js"></script>
        <script src="/assets/vendor/quill/quill.min.js"></script>
        <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
        <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
        <script src="/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="/assets/js/main.js"></script>
    </body>
</html>
