<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hồ sơ của tôi</title>
        <link
            rel="shortcut icon"
            href="https://i.pinimg.com/originals/88/17/30/8817305f0f48040fe272be2cffdc677f.png"
            type="image/x-icon"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
        />

        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <!-- Modal -->
        <div
            class="modal fade"
            id="exampleModal"
            data-bs-backdrop="static"
            data-bs-toggle="modal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="container h-100">
                        <div
                            class="row d-flex justify-content-center align-items-center h-100"
                        >
                            <!--                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">-->
                            <div class="card shadow-2-strong">
                                <form action="/doLogin" method="post">
                                    <div
                                        class="card-body py-3 px-3 text-center"
                                    >
                                        <div class="flex flex-col items-center">
                                            <img
                                                class="w-[80px]"
                                                src="https://cdn-icons-png.flaticon.com/512/1974/1974031.png"
                                            />
                                            <h3 class="mt-2 mb-5">Sign in</h3>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input
                                                type="email"
                                                id="typeEmailX-2"
                                                class="form-control form-control-lg"
                                                name="email"
                                            />
                                            <label
                                                class="form-label"
                                                for="typeEmailX-2"
                                                >Email</label
                                            >
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input
                                                type="password"
                                                id="typePasswordX-2"
                                                class="form-control form-control-lg"
                                                name="password"
                                            />
                                            <label
                                                class="form-label"
                                                for="typePasswordX-2"
                                                >Password</label
                                            >
                                        </div>

                                        <!-- Checkbox -->
                                        <div
                                            class="form-check d-flex justify-content-start mb-4"
                                        >
                                            <input
                                                class="form-check-input"
                                                type="checkbox"
                                                value=""
                                                id="form1Example3"
                                            />
                                            <label
                                                class="form-check-label"
                                                for="form1Example3"
                                            >
                                                Remember password
                                            </label>
                                        </div>

                                        <button
                                            class="btn btn-primary btn-lg btn-block bg-[#3b5998]"
                                            type="submit"
                                        >
                                            Login
                                        </button>

                                        <hr class="my-4" />

                                        <button
                                            class="btn btn-lg btn-block btn-primary"
                                            style="background-color: #dd4b39"
                                            type="submit"
                                        >
                                            <i class="fab fa-google me-2"></i>
                                            Sign in with google
                                        </button>
                                        <button
                                            class="btn btn-lg btn-block btn-primary mb-2"
                                            style="background-color: #3b5998"
                                            type="submit"
                                        >
                                            <i
                                                class="fab fa-facebook-f me-2"
                                            ></i
                                            >Sign in with facebook
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header -->
        <header class="p-2 bg-[#003C71] text-white">
            <div class="max-w-[1200px] mx-auto">
                <div
                    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
                >
                    <a
                        href="/"
                        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
                    >
                        <img
                            alt=""
                            src="https://res.ivivu.com/hotel/img/logo-2023n.svg"
                        />
                    </a>

                    <ul
                        class="ml-[15px] nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
                    >
                        <li>
                            <a
                                href="/"
                                class="nav-link px-2 text-white text-[20px]"
                                >Khách sạn</a
                            >
                        </li>
                        <li>
                            <a
                                href="/"
                                class="nav-link px-2 text-white text-[20px]"
                                >Tours</a
                            >
                        </li>
                        <li>
                            <a
                                href="/"
                                class="nav-link px-2 text-white text-[20px]"
                                >Vé máy bay</a
                            >
                        </li>
                        <li>
                            <a
                                href="/"
                                class="nav-link px-2 text-white text-[20px]"
                                >Vé vui chơi</a
                            >
                        </li>
                    </ul>
                    <div class="text-end">
                        <div sec:authorize="!isAuthenticated()">
                            <button
                                type="button"
                                class="btn me-2 bg-danger text-white"
                                data-mdb-toggle="modal"
                                data-mdb-target="#exampleModal"
                            >
                                Login
                            </button>
                            <a th:href="@{/signup}">
                                <button
                                    type="button"
                                    class="btn btn-warning text-white"
                                    th:src="@{/signup}"
                                >
                                    Sign-up
                                </button>
                            </a>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <div class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="navbarDropdown"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    Tài khoản
                                </a>
                                <ul
                                    class="dropdown-menu"
                                    aria-labelledby="navbarDropdown"
                                >
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="/profile"
                                            sec:authentication="principal.email"
                                        ></a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/profile"
                                            >Hồ sơ của tôi</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/trips"
                                            >Đơn hàng của tôi</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/logout"
                                            >Đăng xuất</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Body -->
        <div class="h-[calc(100vh-66px)] bg-[#ECF0F5] py-[16px]">
            <div class="max-w-[1200px] mx-auto flex gap-[30px] items-start">
                <!-- Left -->
                <div
                    class="w-[25%] pt-[30px] px-[16px] rounded-[6px] bg-white flex flex-col items-center"
                >
                    <img
                        class="w-[110px] h-[110px] rounded-[50%]"
                        src="https://gate.ivivu.com/upload/avatar/67910d23-0680-4e70-b7af-57b19eef6e52/crop_jumping230939358.jpg"
                    />
                    <p class="font-bold mt-[14px]">Nguyễn Viết Nam</p>
                    <div class="mt-[20px] w-full">
                        <a
                            href="/profile"
                            class="flex items-center cursor-pointer py-[14px] border-b-[1px] border-[#bdbdbd]"
                        >
                            <i
                                class="fa-solid fa-user mr-[6px] text-[#26bed6]"
                            ></i>
                            <p class="text-[#26bed6]">Hồ sơ của tôi</p>
                        </a>
                        <a
                            href="/trips"
                            class="flex items-center cursor-pointer py-[14px]"
                        >
                            <i
                                class="fa-solid fa-cart-shopping mr-[6px] text-[#555863]"
                            ></i>
                            <p class="text-[#555863]">Đơn hàng của tôi</p>
                        </a>
                    </div>
                </div>

                <!-- Right -->
                <div
                    class="w-[75%] pt-[30px] pb-[16px] px-[16px] rounded-[6px] bg-white"
                >
                    <div class="flex flex-col items-center">
                        <img
                            src="https://gate.ivivu.com/upload/avatar/67910d23-0680-4e70-b7af-57b19eef6e52/crop_jumping230939358.jpg"
                            alt=""
                            class="w-[130px] h-[130px] object-cover"
                        />
                        <label
                            for="avatar-customer"
                            class="font-bold mt-[14px] text-[#26bed6] hover:text-[#003c71] cursor-pointer transition-all duration-100"
                        >
                            Upload hình mới
                        </label>
                        <input
                            type="file"
                            name="avatar-customer"
                            id="avatar-customer"
                            class="hidden"
                        />
                    </div>
                    <form class="mt-[20px]">
                        <div
                            class="flex w-auto justify-between items-center gap-[10px]"
                        >
                            <p class="w-[20%] text-[#818180] whitespace-nowrap">
                                Họ và tên đầy đủ:
                            </p>
                            <div class="w-[80%]">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div
                            class="mt-[10px] flex w-auto justify-between items-center gap-[10px]"
                        >
                            <p class="w-[20%] text-[#818180] whitespace-nowrap">
                                Điện thoại:
                            </p>
                            <div class="w-[80%]">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div
                            class="mt-[10px] flex w-auto justify-between items-center gap-[10px]"
                        >
                            <p class="w-[20%] text-[#818180] whitespace-nowrap">
                                Email:
                            </p>
                            <div class="w-[80%]">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <input
                            class="bg-[#26BED6] h-[40px] w-[190px] rounded-[4px] text-white mt-[20px] hover:bg-[#003c71] cursor-pointer transition-all duration-100"
                            type="submit"
                            value="Lưu thay đổi"
                        />
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
