<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Kỳ nghỉ của tôi</title>
        <link
            rel="shortcut icon"
            href="https://i.pinimg.com/originals/88/17/30/8817305f0f48040fe272be2cffdc677f.png"
            type="image/x-icon"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
        />

        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <!-- Modal -->
        <div
            class="modal fade"
            id="exampleModal"
            data-bs-backdrop="static"
            data-bs-toggle="modal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="container h-100">
                        <div
                            class="row d-flex justify-content-center align-items-center h-100"
                        >
                            <!--                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">-->
                            <div class="card shadow-2-strong">
                                <form action="/doLogin" method="post">
                                    <div
                                        class="card-body py-3 px-3 text-center"
                                    >
                                        <div class="flex flex-col items-center">
                                            <img
                                                class="w-[80px]"
                                                src="https://cdn-icons-png.flaticon.com/512/1974/1974031.png"
                                            />
                                            <h3 class="mt-2 mb-5">Sign in</h3>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input
                                                type="email"
                                                id="typeEmailX-2"
                                                class="form-control form-control-lg"
                                                name="email"
                                            />
                                            <label
                                                class="form-label"
                                                for="typeEmailX-2"
                                                >Email</label
                                            >
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input
                                                type="password"
                                                id="typePasswordX-2"
                                                class="form-control form-control-lg"
                                                name="password"
                                            />
                                            <label
                                                class="form-label"
                                                for="typePasswordX-2"
                                                >Password</label
                                            >
                                        </div>

                                        <!-- Checkbox -->
                                        <div
                                            class="form-check d-flex justify-content-start mb-4"
                                        >
                                            <input
                                                class="form-check-input"
                                                type="checkbox"
                                                value=""
                                                id="form1Example3"
                                            />
                                            <label
                                                class="form-check-label"
                                                for="form1Example3"
                                            >
                                                Remember password
                                            </label>
                                        </div>

                                        <button
                                            class="btn btn-primary btn-lg btn-block bg-[#3b5998]"
                                            type="submit"
                                        >
                                            Login
                                        </button>

                                        <hr class="my-4" />

                                        <button
                                            class="btn btn-lg btn-block btn-primary"
                                            style="background-color: #dd4b39"
                                            type="submit"
                                        >
                                            <i class="fab fa-google me-2"></i>
                                            Sign in with google
                                        </button>
                                        <button
                                            class="btn btn-lg btn-block btn-primary mb-2"
                                            style="background-color: #3b5998"
                                            type="submit"
                                        >
                                            <i
                                                class="fab fa-facebook-f me-2"
                                            ></i
                                            >Sign in with facebook
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header -->
        <header class="p-2 bg-[#003C71] text-white">
            <div class="max-w-[1200px] mx-auto">
                <div
                    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
                >
                    <a
                        href="/"
                        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
                    >
                        <img
                            src="https://res.ivivu.com/hotel/img/logo-2023n.svg"
                        />
                    </a>

                    <ul
                        class="ml-[15px] nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
                    >
                        <li>
                            <a
                                href="/"
                                class="nav-link px-2 text-white text-[20px]"
                                >Khách sạn</a
                            >
                        </li>
                        <li>
                            <a
                                href="/"
                                class="nav-link px-2 text-white text-[20px]"
                                >Tours</a
                            >
                        </li>
                        <li>
                            <a
                                href="/"
                                class="nav-link px-2 text-white text-[20px]"
                                >Vé máy bay</a
                            >
                        </li>
                        <li>
                            <a
                                href="/"
                                class="nav-link px-2 text-white text-[20px]"
                                >Vé vui chơi</a
                            >
                        </li>
                    </ul>
                    <div class="text-end">
                        <div sec:authorize="!isAuthenticated()">
                            <button
                                type="button"
                                class="btn me-2 bg-danger text-white"
                                data-mdb-toggle="modal"
                                data-mdb-target="#exampleModal"
                            >
                                Login
                            </button>
                            <a th:href="@{/signup}">
                                <button
                                    type="button"
                                    class="btn btn-warning text-white"
                                    th:src="@{/signup}"
                                >
                                    Sign-up
                                </button>
                            </a>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <div class="nav-item dropdown">
                                <a
                                    class="nav-link nav-profile d-flex align-items-center pe-0"
                                    href="#"
                                    data-bs-toggle="dropdown"
                                >
                                    <img
                                        onerror="this.src='https://www.seekpng.com/png/full/73-730482_existing-user-default-avatar.png'"
                                        th:src="@{|~/image/user/${#authentication.principal.avatarImg}/|}"
                                        style="
                                            width: 34px;
                                            height: 34px;
                                            border-radius: 50%;
                                            object-fit: cover;
                                        "
                                        alt=""
                                    />
                                    <span
                                        sec:authentication="principal.email"
                                        class="d-none d-md-block dropdown-toggle ps-2"
                                        >Tài khoản</span
                                    >
                                </a>
                                <ul
                                    class="dropdown-menu"
                                    aria-labelledby="navbarDropdown"
                                >
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="/profile"
                                            sec:authentication="principal.email"
                                        ></a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/profile"
                                            >Hồ sơ của tôi</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/trips"
                                            >Đơn hàng của tôi</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="/backend/user"
                                            sec:authorize="hasAnyAuthority('ROLE_1')"
                                            th:text="'Cơ sở dữ liệu'"
                                        ></a>
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            href="#"
                                            th:text="'Đổi mật khẩu'"
                                        ></a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/logout"
                                            >Đăng xuất</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Body -->
        <div class="bg-[#ECF0F5] py-[16px]">
            <div class="max-w-[1200px] mx-auto flex gap-[30px] items-start">
                <!-- Left -->
                <div
                    class="w-[25%] pt-[30px] px-[16px] rounded-[6px] bg-white flex flex-col items-center"
                >
                    <img
                        class="w-[110px] h-[110px] rounded-[50%]"
                        src="https://gate.ivivu.com/upload/avatar/67910d23-0680-4e70-b7af-57b19eef6e52/crop_jumping230939358.jpg"
                    />
                    <p class="font-bold mt-[14px]">Nguyễn Viết Nam</p>
                    <div class="mt-[20px] w-full">
                        <a
                            href="/profile"
                            class="flex items-center cursor-pointer py-[14px] border-b-[1px] border-[#bdbdbd]"
                        >
                            <i
                                class="fa-solid fa-user mr-[6px] text-[#555863]"
                            ></i>
                            <p class="text-[#555863]">Hồ sơ của tôi</p>
                        </a>
                        <a
                            href="/trips"
                            class="flex items-center cursor-pointer py-[14px]"
                        >
                            <i
                                class="fa-solid fa-cart-shopping mr-[6px] text-[#26bed6]"
                            ></i>
                            <p class="text-[#26bed6]">Đơn hàng của tôi</p>
                        </a>
                    </div>
                </div>

                <!-- Right -->
                <div class="w-[75%] pb-[16px] px-[16px]">
                    <span
                        class="text-[#26bed6] border-b-[3px] border-[#26bed6] py-[4px] px-[6px]"
                    >
                        Lịch sử chuyến đi
                    </span>
                    <div class="mt-[24px] flex flex-col gap-[24px]">
                        <a
                            href="/"
                            class="bg-white hover:!bg-[#fafafa] cursor-pointer group transition-all duration-100"
                        >
                            <div class="py-[12px] px-[16px]">
                                <p>
                                    <span class="text-[#555863]"
                                        >Mã đơn hàng:</span
                                    >
                                    <span class="text-[#003c71] font-bold"
                                        >IVIVU1133317</span
                                    >
                                </p>
                            </div>
                            <div class="px-[16px]">
                                <div class="h-[1px] bg-[#bdbdbd]"></div>
                            </div>
                            <div class="flex gap-[30px] py-[12px] px-[16px]">
                                <div>
                                    <p
                                        class="font-bold text-[20px] text-[#003c71]"
                                    >
                                        Tên resort:
                                    </p>
                                    <div class="flex mt-[10px]">
                                        <div class="w-[120px]">
                                            <img
                                                class="w-full h-[100px] object-cover"
                                                src="https://cdn1.ivivu.com/images/2023/05/23/13/vin-rs-pq-cr2___r663k1____horizontal.webp?o=jpg"
                                            />
                                        </div>
                                        <div
                                            class="w-[70%] px-[10px] py-[10px] bg-[#F9FAFA] group-hover:bg-[#e3e1e1] duration-100"
                                        >
                                            <p
                                                class="font-semibold text-[18px] text-[#003c71] line-clamp-2"
                                            >
                                                Vinpearl Resort & Spa Phú Quốc
                                            </p>
                                            <div class="flex items-center">
                                                <div class="flex gap-[3px]">
                                                    <i
                                                        class="fa-solid fa-star text-[#FDBF65]"
                                                    ></i>
                                                    <i
                                                        class="fa-solid fa-star text-[#FDBF65]"
                                                    ></i>
                                                    <i
                                                        class="fa-solid fa-star text-[#FDBF65]"
                                                    ></i>
                                                    <i
                                                        class="fa-solid fa-star text-[#FDBF65]"
                                                    ></i>
                                                    <i
                                                        class="fa-solid fa-star text-[#FDBF65]"
                                                    ></i>
                                                </div>
                                                <div class="ml-[10px]">
                                                    <i
                                                        class="fa-solid fa-heart text-[#E52822]"
                                                    ></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-[20px]">
                                        <p
                                            class="font-bold text-[20px] text-[#003c71]"
                                        >
                                            Tổng cộng thanh toán
                                        </p>
                                        <div
                                            class="flex justify-between items-center"
                                        >
                                            <p
                                                class="w-[20%] text-[#818180] whitespace-nowrap"
                                            >
                                                Tổng tiền
                                            </p>
                                            <p
                                                class="text-[22px] font-semibold text-[#26bed6]"
                                            >
                                                5.766.000 VND
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <p
                                        class="font-bold text-[20px] text-[#003c71]"
                                    >
                                        Phòng đặt:
                                    </p>
                                    <img
                                        class="mt-[10px] w-[348px] h-[262px] object-cover"
                                        src="https://cdn1.ivivu.com/images/2023/06/02/20/4___sk2ewq____horizontal-500x375.webp?o=jpg"
                                    />
                                    <div
                                        class="px-[10px] py-[16px] bg-[#F9FAFA] group-hover:bg-[#e3e1e1] duration-100"
                                    >
                                        <p
                                            class="font-semibold text-[18px] text-[#003c71]"
                                        >
                                            Premium Family
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a
                            href="/"
                            class="bg-white hover:!bg-[#fafafa] cursor-pointer group transition-all duration-100"
                        >
                            <div class="py-[12px] px-[16px]">
                                <p>
                                    <span class="text-[#555863]"
                                        >Mã đơn hàng:</span
                                    >
                                    <span class="text-[#003c71] font-bold"
                                        >IVIVU1133317</span
                                    >
                                </p>
                            </div>
                            <div class="px-[16px]">
                                <div class="h-[1px] bg-[#bdbdbd]"></div>
                            </div>
                            <div class="flex gap-[30px] py-[12px] px-[16px]">
                                <div>
                                    <p
                                        class="font-bold text-[20px] text-[#003c71]"
                                    >
                                        Tên resort:
                                    </p>
                                    <div class="flex mt-[10px]">
                                        <div class="w-[120px]">
                                            <img
                                                class="w-full h-[100px] object-cover"
                                                src="https://cdn1.ivivu.com/images/2023/05/23/13/vin-rs-pq-cr2___r663k1____horizontal.webp?o=jpg"
                                            />
                                        </div>
                                        <div
                                            class="w-[70%] px-[10px] py-[10px] bg-[#F9FAFA] group-hover:bg-[#e3e1e1] duration-100"
                                        >
                                            <p
                                                class="font-semibold text-[18px] text-[#003c71] line-clamp-2"
                                            >
                                                Vinpearl Resort & Spa Phú Quốc
                                            </p>
                                            <div class="flex items-center">
                                                <div class="flex gap-[3px]">
                                                    <i
                                                        class="fa-solid fa-star text-[#FDBF65]"
                                                    ></i>
                                                    <i
                                                        class="fa-solid fa-star text-[#FDBF65]"
                                                    ></i>
                                                    <i
                                                        class="fa-solid fa-star text-[#FDBF65]"
                                                    ></i>
                                                    <i
                                                        class="fa-solid fa-star text-[#FDBF65]"
                                                    ></i>
                                                    <i
                                                        class="fa-solid fa-star text-[#FDBF65]"
                                                    ></i>
                                                </div>
                                                <div class="ml-[10px]">
                                                    <i
                                                        class="fa-solid fa-heart text-[#E52822]"
                                                    ></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-[20px]">
                                        <p
                                            class="font-bold text-[20px] text-[#003c71]"
                                        >
                                            Tổng cộng thanh toán
                                        </p>
                                        <div
                                            class="flex justify-between items-center"
                                        >
                                            <p
                                                class="w-[20%] text-[#818180] whitespace-nowrap"
                                            >
                                                Tổng tiền
                                            </p>
                                            <p
                                                class="text-[22px] font-semibold text-[#26bed6]"
                                            >
                                                5.766.000 VND
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <p
                                        class="font-bold text-[20px] text-[#003c71]"
                                    >
                                        Phòng đặt:
                                    </p>
                                    <img
                                        class="mt-[10px] w-[348px] h-[262px] object-cover"
                                        src="https://cdn1.ivivu.com/images/2023/06/02/20/4___sk2ewq____horizontal-500x375.webp?o=jpg"
                                    />
                                    <div
                                        class="px-[10px] py-[16px] bg-[#F9FAFA] group-hover:bg-[#e3e1e1] duration-100"
                                    >
                                        <p
                                            class="font-semibold text-[18px] text-[#003c71]"
                                        >
                                            Premium Family
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a
                            href="/"
                            class="bg-white hover:!bg-[#fafafa] cursor-pointer group transition-all duration-100"
                        >
                            <div class="py-[12px] px-[16px]">
                                <p>
                                    <span class="text-[#555863]"
                                        >Mã đơn hàng:</span
                                    >
                                    <span class="text-[#003c71] font-bold"
                                        >IVIVU1133317</span
                                    >
                                </p>
                            </div>
                            <div class="px-[16px]">
                                <div class="h-[1px] bg-[#bdbdbd]"></div>
                            </div>
                            <div class="flex gap-[30px] py-[12px] px-[16px]">
                                <div>
                                    <p
                                        class="font-bold text-[20px] text-[#003c71]"
                                    >
                                        Tên resort:
                                    </p>
                                    <div class="flex mt-[10px]">
                                        <div class="w-[120px]">
                                            <img
                                                class="w-full h-[100px] object-cover"
                                                src="https://cdn1.ivivu.com/images/2023/05/23/13/vin-rs-pq-cr2___r663k1____horizontal.webp?o=jpg"
                                            />
                                        </div>
                                        <div
                                            class="w-[70%] px-[10px] py-[10px] bg-[#F9FAFA] group-hover:bg-[#e3e1e1] duration-100"
                                        >
                                            <p
                                                class="font-semibold text-[18px] text-[#003c71] line-clamp-2"
                                            >
                                                Vinpearl Resort & Spa Phú Quốc
                                            </p>
                                            <div class="flex items-center">
                                                <div class="flex gap-[3px]">
                                                    <i
                                                        class="fa-solid fa-star text-[#FDBF65]"
                                                    ></i>
                                                    <i
                                                        class="fa-solid fa-star text-[#FDBF65]"
                                                    ></i>
                                                    <i
                                                        class="fa-solid fa-star text-[#FDBF65]"
                                                    ></i>
                                                    <i
                                                        class="fa-solid fa-star text-[#FDBF65]"
                                                    ></i>
                                                    <i
                                                        class="fa-solid fa-star text-[#FDBF65]"
                                                    ></i>
                                                </div>
                                                <div class="ml-[10px]">
                                                    <i
                                                        class="fa-solid fa-heart text-[#E52822]"
                                                    ></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-[20px]">
                                        <p
                                            class="font-bold text-[20px] text-[#003c71]"
                                        >
                                            Tổng cộng thanh toán
                                        </p>
                                        <div
                                            class="flex justify-between items-center"
                                        >
                                            <p
                                                class="w-[20%] text-[#818180] whitespace-nowrap"
                                            >
                                                Tổng tiền
                                            </p>
                                            <p
                                                class="text-[22px] font-semibold text-[#26bed6]"
                                            >
                                                5.766.000 VND
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <p
                                        class="font-bold text-[20px] text-[#003c71]"
                                    >
                                        Phòng đặt:
                                    </p>
                                    <img
                                        class="mt-[10px] w-[348px] h-[262px] object-cover"
                                        src="https://cdn1.ivivu.com/images/2023/06/02/20/4___sk2ewq____horizontal-500x375.webp?o=jpg"
                                    />
                                    <div
                                        class="px-[10px] py-[16px] bg-[#F9FAFA] group-hover:bg-[#e3e1e1] duration-100"
                                    >
                                        <p
                                            class="font-semibold text-[18px] text-[#003c71]"
                                        >
                                            Premium Family
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
